* {
  padding: 0;
}

.navbar-brand-format {
  font-family: "Montserrat", sans-serif;
  color: #d5cea3;
}

.navbar-brand-format:hover {
  color: #ffffff;
}

.nav-link {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #d5cea3;
}

.nav-item {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #d5cea3;
}

.nav-item:hover {
  color: #e5e5cb;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.header {
  padding: 10%;
  background-image: url("joel-muniz-RLH_Wmlnj2k-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.header-format {
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
}
